.bg-primary {
    background-color: #373737 !important;
  }
  
  .table-div {
    th {
      width: fit-content;
      white-space: nowrap;
    }
  
    .adrs-td {
      width: fit-content;
      min-width: 250px;
    }
  
    .nmbr-td {
      width: fit-content;
      min-width: 190px;
    }
  
    .status-td {
      span {
        padding: 6px 10px;
        color: #fff;
        min-width: 89px;
        width: fit-content;
        display: block;
        text-align: center;
  
        &.active {
          background-color: #008000a6;
        }
  
        &.block {
          background-color: #ff000099;
        }
      }
    }
  }
  
  .cstmDropdown {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: #373737;
    text-align: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
  }
  
  .pagination-div {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
    padding-bottom: 0px;
  
    .pagination {
      margin: 0px;
    }
  }
  
  .search-bar {
    width: 250px;
  }
  
  .filters-options-sec {
    padding-bottom: 20px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #c1c1c1;
  
    .flxx {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .bttns-sec {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  
    .sub-filter-sec {
      padding: 20px 0px;
      display: flex;
      align-items: center;
      gap: 15px;
  
      .stts-flter {
        width: 220px;
      }
    }
  }
  
  .myform {
    .form-group {
      margin-bottom: 15px;
  
      label {
        margin-bottom: 10px;
      }
    }
  }
  
  .cstmDropdownBtn {
    padding: 15px;
    height: 30px;
    line-height: 30px;
    display: flex;
    background: #373737;
    text-align: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .btnPrimary {
    background-color: #373737;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      // background-color: #fff;
      // color: #373737;
      // font-weight: 600;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #ffffff !important;
    font-weight: 500 !important;
    background-color: #373737 !important;
  }
  
  .nav-tabs .nav-link {
    color: #000 !important;
  }
  
  .invoiceBoxes .inBox {
    background-color: #fff;
    height: 164px;
    width: 100%;
    border-radius: 8px 0 0 8px / 8px 0px 0px 8px;
    padding: 20px;
    box-shadow: 0 0 2px #919eab33, 0 12px 24px -4px #919eab1f;
  
    .count {
      font-size: 28px;
      color: #373737;
    }
  
    p {
      // margin-bottom: 0px;
      font-size: 14px;
    }
  }
  
  .progress,
  .progress-stacked {
    --bs-progress-height: 0.75rem !important;
  
    .progress-bar {
      background-color: #373737 !important;
    }
  }
  
  .myMt {
    margin-top: 36px;
  }
  
  .bgPrimary {
    background-color: #373737 !important;
  }
  
  .targetBox {
    background: #fff;
    width: 100%;
    height: 220px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
  }
  
  .targetImageBox {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f5f9;
    margin-bottom: 15px;
  }
  
  .rs-steps-item-status-process .rs-steps-item-icon-wrapper {
    background-color: #000 !important;
    border: none !important;
  }
  
  .rs-steps-item-status-finish .rs-steps-item-icon-wrapper {
    border-color: #000 !important;
    color: #000 !important;
  }
  .rs-steps-item-status-finish .rs-steps-item-title:after {
    border-color: #000 !important;
  }
  
  .rs-btn.rs-btn-ghost {
    margin-right: 20px;
    border: 1px solid #000000;
    &:focus {
      box-shadow: 0 0 0 1px #000000 !important;
    }
  }
  
  .rs-btn-group .rs-btn {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-color: #000 !important;
    color: black !important;
  }
  
  .myFilterOptions .myFilters {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    .my-stts-flter {
      width: 32vw;
    }
    .stts-flter {
      width: 220px;
    }
  }
  
  .colsContainer {
    .colBody {
      background-color: #f1f5f9;
      // padding: 15px;
    }
    .colHeader {
      background-color: #ddeeff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    .colPoints {
      padding: 15px;
    }
    .colPoint {
      box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08),
        0px 1px 2px rgba(0, 0, 20, 0.08);
      padding: 15px;
      margin-bottom: 15px;
      background-color: #fff;
    }
  }
  
  .navbar-vertical .navbar-nav .nav-item .nav-link {
    text-decoration: none !important;
  }
  
  
  
  .recharts-layer tspan {
    font-size: 16px !important;
    font-weight: 700 !important;
  }
  
  .page-link.active, .active > .page-link {
    background-color: #373737 !important;
    border-color: #373737 !important;
  }
  a.page-link {
    color: #373737 !important;
  }
  
  
  
  
  
  .signInLogo{
    height: 40px;
    width: 100%;
    object-fit: contain;
  }
  
  .signInBtn{
    background-color: #373737 !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 6px 10px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    &:hover{
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .flxx .bttns-sec .dropdown .dropdown-toggle::after{
    display: none;
  }

  .table.table-bordered{
    .btnPrimary{
      white-space: nowrap;
    }
  }